<launch>

	<arg name="pc_name" default="YOUR_POINTCLOUD.pcd" />
	<param name="pc_name" type="string" value="$(arg pc_name)" />
	<rosparam command="load" file="$(find ImMesh)/config/offline_pointcloud.yaml" />
	<param name="meshing/distance_scale" type="double" value="1.0" /> 
	<param name="gui_font_size" type="int" value="20" /> 
	
	<node pkg="ImMesh" type="ImMesh_mapping" name="laserMapping" output="screen" launch-prefix=""> 
	</node>

</launch> 	
